.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
:root {
    --fontcolor1: rgba(254, 163, 1, 1);
    --fontcolor2: rgba(1, 172, 253, 1);
    --fontcolor3: rgba(5, 212, 223, 1);
    --fontcolor4: rgba(93, 88, 239, 1);
    --btn-color: rgba(17, 17, 17, 1);
    --card-bg-1: linear-gradient(#DEF5FF, #FFFFFF);
    --card-bg-2: linear-gradient(#FFF4DC, #FFFFFF);
    --card-bg-3: linear-gradient(#EEE1FF, #FFFFFF);
}

.display-flex {
    display: flex;
}

.visibility-hidden {
    visibility: hidden;
}

.bodybg {
    background-image: url('/assets/bg.png');
    background-color: rgba(255, 255, 255, 1);
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);

}

.school-logo {
    display: flex;
    align-items: center;
}

.school-logo>img {
    width: 64px;
    height: 64px;
}

.navbar {
    margin-top: 36px;
    margin-left: 100px;
    margin-right: 100px;
}

nav>a {
    padding-right: 32px;
    text-decoration: none;
}

.contact-btn {
    background-color: var(--fontcolor1);
    color: white;
    height: 50px;
    width: 197px;
    border-radius: 12px;
    border-style: none;
    margin-top: 23px;
    font-size: 1.25rem;
}

header {
    justify-content: center;
}

/* banner section */
.banner-section {
    width: 1158.61px;
    height: 575px;
    /* border: 2px solid salmon; */
    margin: auto 300px;
}

.banner-img img {
    width: 100%;
}

.banner-img {
    width: 25vw;
    height: 100%;
}

.banner-content {
    /* width: 640px;
   height: 331px; */
    width: 40vw;
    height: 55%;
    /* border: 2px solid blueviolet; */
    margin: 122px 0;
}

.banner-title {
    font-size: 2.5vw;
    font-weight: 700;
    color: black;
    /* margin-bottom: 0px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
}

.banner-btn {
    font-size: 1.25rem;
    /* font-size: 1vw; */
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
}

.curriculum-section {
    width: 1440px;
    height: 879px;
    margin-left: 190px;
}

.curriculum-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75.2vw;
    height: 54%;
    /* border: 2px solid steelblue; */
    gap: 26px;

}

.curriculum-card {

    /* width: 35vw;
    height: 99%; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 18px;
    text-align: center;
    padding: 20px 10px;
}

.curriculum-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.curriculum-title {
    /* font-size: 1.5rem; */
    font-size: 1.5rem;
    font-weight: 700;
}

.curriculum-subtitle {
    font-size: 1rem;
    /* font-size: 1vw; */
    font-weight: 500;
    color: #808080;
}

.curriculum-readmore {
    font-size: 1rem;
    font-weight: 700;
}

.curriculum-footer-icon {
    text-align: center;
    margin: 80px auto 60px auto;
}

.arrow-icon {
    background-color: orange;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 18px 22px;
    width: 20px;
    height: 23px;

}

/* stories section */
.stories-section{
    text-align: center;
    width: 1440px;
    height: 1018px;
    /* border: 2px solid red; */
    margin: auto 220px;
    /* background: linear-gradient(180deg #FEA301); */
    background-image: linear-gradient(to top, #fad594,#FFFFFF);
    align-content: center;
}
.stories-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,300px);
    margin: auto 120px;
    /* border: 2px solid sienna; */
    gap: 18px;
    background-color: #FFFFFF;  
    /* align-items: center;   */
    text-align: center;
}
#box-1{
    grid-row: span 2;
    width: 540px;
    height: 610px;
    /* border: 2px solid tomato; */
}
#box-1 .stories-card-title{
    font-size: 1.5rem;
    font-weight: 700;
}
#box-1 .stories-card-subtitle{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
}
#box-2>.stories-card-subtitle,#box-3>.stories-card-subtitle, #box-4>.stories-card-subtitle,#box-5>.stories-card-subtitle{
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-top: 23px;
    padding-bottom: 33px; */
}
#box-2,#box-3,#box-4,#box-5{
    width: 290px;
    height: 301px;
    /* text-align: center; */
}
#box-1 img{
    width: 100%;
}
.stories-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 18px;
}

#box-2 .stories-card-img{
    width: 100%;
    height: 177px;
}
#box-3 .stories-card-img{
    width: 100%;
    height: 177px;
}
#box-4 .stories-card-img{
    width: 100%;
    height: 177px;
}
#box-5 .stories-card-img{
    width: 100%;
    height: 177px;
}
.stories-card{
    text-align: center;
}
.stories-card-date{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    /* padding: 10px auto; */
    padding-top: 20px;
    width: 174px;
    height: 47px;
    border-radius: 47px;
    transform: translate(-50px,-50px);
    justify-self: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
.stories-heading{
    font-size: 2.8rem;
    font-weight: 700;
    color: #000000;
}
.stories-btn{
    margin: 70px auto;
}

.footer-container {
    background-color: rgba(1, 172, 253, 1);
    justify-content: space-around;
    padding: 123px 228px 174px 140px;
}

.footer-icon h5 {
    font-size: 2.6rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.footer-icon img {
    width: 82px;
    height: 81px;
    margin-top: 70px;
}


.footer-description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-nav-container h5 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-navber li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.social-link-container h5 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.social-icon-container img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width:576px) {

    .navbar {
        display: none;
    }

    .header-title {
        display: none;
    }

    header {
        justify-content: space-between;
        border-bottom: 1px solid orange;
    }

    .contact-btn {
        display: none;
    }

    .header-menu {
        visibility: visible;
        margin-left: -500px;
        margin-top: 25px;
        margin-right: -10px;
    }

    .header-menu img {
        width: 50%;
    }

    .banner-section {
        flex-direction: column-reverse;
        width: 357px;
        height: 725px;
        /* border: 2px solid seagreen; */
        margin: auto 0px;
        margin-left: 16px;
        margin-right: 17px;
    }

    .banner-content {
        width: 85vw;
        height: 35%;
        /* border: 2px solid sandybrown; */
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .banner-title {
        font-size: 10vw;
    }

    .banner-subtitle {
        font-size: 4vw;
    }

    .banner-img img {
        width: 85vw;
        height: 90%;
    }

    .banner-img {
        width: 85vw;
        height: 55%;
        /* border: 2px solid red; */
    }

    .banner-btn {
        font-size: 3.5vw;
        /* padding: 6px 24px; */
    }

    .curriculum-section {
        margin-left: 0px;
        text-align: center;
        justify-content: center;
        /* width: fit-content; */
        width: 390px;
        height: 1313px;
        /* border: 2px solid tomato; */
        margin-top: 200px;
    }

    .curriculum-heading {
        margin-top: 0px;
        margin-bottom: 0px;
        width: max-content;
        /* margin: 40px 64.5px 20px 64.5px; */
    }

    .curriculum-card-container {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        /* margin-top: 93px; */
        width: 357px;
        height: 991px;
        /* border: 2px solid black; */
        margin: 93px 16.5px 20px 16.5px;
    }

    .curriculum-card {
        width: 357px;
        height: 321px;
        /* text-align: center; */
    }

    .curriculum-card img {
        width: 88px;
        height: 75px;
    }

    .curriculum-footer-icon {
        visibility: hidden;
    }

    #box-1{
        display: none;
    }
    .stories-section{
        margin-left: -10px;
        margin-right: 0px;
        width: 480px;
        height: 868px;
        justify-items: center;
    }
    .stories-card-container{
        /* margin: auto 0px; */
        grid-template-columns: repeat(2,1fr);
        margin-left: 0px;
        margin-right: 0px;
        width: 458px;
        height: 561px;
        /* gap: 0px; */
        justify-content: center;
        /* justify-content: space-between; */
        background: none;
        column-gap: 11px;
        /* margin-right: 200px; */
        
    }
    #box-2{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }
    #box-3{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }
    #box-4{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }
    #box-5{
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }
    .stories-card-subtitle{
         /* width: fit-content; */
         font-size: 0.7rem;
    }
    .stories-btn{
        /* margin-top: 300px; */
        margin-bottom: 20px;
        margin-top: 100px;
    }
    .stories-card-date{
        font-size: 0.7rem;
        font-weight: 500;
        color: #FFFFFF;
        /* padding: 10px auto; */
        /* padding-top: 10px; */
        width: 110px;
        height: 25px;
        border-radius: 10px;
        transform: translate(7px,-25px);
        justify-self: center;   
    }
    .footer-container{
        flex-direction: column;
        padding: 0px;
        padding-left: 20px;
        margin-bottom: 40px;
    }
}