.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
:root {
    --fontcolor1: rgba(254, 163, 1, 1);
    --fontcolor2: rgba(1, 172, 253, 1);
    --fontcolor3: rgba(5, 212, 223, 1);
    --fontcolor4: rgba(93, 88, 239, 1);
    --btn-color: rgba(17, 17, 17, 1);
}

.display-flex {
    display: flex;
}

.visibility-hidden {
    visibility: hidden;
}

.bodybg {
    background-image: url('/assets/bg.png');
    background-color: rgba(255, 255, 255, 1);
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);

}

.school-logo {
    display: flex;
    align-items: center;
}

.school-logo>img {
    width: 64px;
    height: 64px;
}

.navbar {
    margin-top: 36px;
    margin-left: 100px;
    margin-right: 100px;
}

nav>a {
    padding-right: 32px;
    text-decoration: none;
}

.contact-btn {
    background-color: var(--fontcolor1);
    color: white;
    height: 50px;
    width: 197px;
    border-radius: 12px;
    border-style: none;
    margin-top: 23px;
    font-size: 1.25rem;
}

header {
    justify-content: center;
}

/* banner section */
.banner-section {
    width: 1158.61px;
    height: 575px;
    /* border: 2px solid salmon; */
    margin: auto 300px;
}

.banner-img img {
    width: 100%;
}
.banner-img{
    width: 25vw;
    height: 100%;
}
.banner-content {
   /* width: 640px;
   height: 331px; */
   width: 40vw;
   height: 55%;
   /* border: 2px solid blueviolet; */
   margin: 122px 0;
}

.banner-title {
    font-size: 2.5vw;
    font-weight: 700;
    color: black;
    /* margin-bottom: 0px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
}

.banner-btn {
    font-size: 1.25rem;
    /* font-size: 1vw; */
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
}

@media screen and (max-width:576px) {

    .navbar {
        display: none;
    }

    .header-title {
        display: none;
    }

    header {
        justify-content: space-between;
        border-bottom: 1px solid orange;
    }

    .contact-btn {
        visibility: hidden;
    }

    .header-menu {
        visibility: visible;
        margin-left: -500px;
        margin-top: 25px;
        margin-right: -10px;
    }

    .header-menu img {
        width: 50%;
    }

    .banner-section {
        flex-direction: column-reverse;
        width: 357px;
        height: 725px;
        /* border: 2px solid seagreen; */
        margin: auto 0px;
        margin-left: 16px;
        margin-right: 17px;
    }

    .banner-content {
       width: 85vw;
       height: 35%;
       /* border: 2px solid sandybrown; */
       margin-top: 20px;
       margin-bottom: 20px;
       text-align: center;
    }

    .banner-title {
        font-size: 10vw;
    }

    .banner-subtitle {
        font-size: 4vw;
    }

    .banner-img img {
        width: 85vw;
        height: 90%;
    }
    
    .banner-img {
        width: 85vw;
        height: 55%;
        /* border: 2px solid red; */
    }
    .banner-btn{
        font-size: 3.5vw;
        /* padding: 6px 24px; */
    }
}